html {
	display: block;
	height: 100%;
	padding: 0pt;
	margin: 0pt;
	font-size: 1.5vw;
}

head {
	display: block;	
	padding: 0pt;
	margin: 0pt;
}

body {
	padding: 0pt;
	margin: 0pt;
	
}



@font-face {
	font-family: fontawesome;
	src: url(fonts/fontawesome-webfont.ttf);
}

@font-face {
	font-family: opensans;
	src: url(fonts/opensans-bold.ttf);
}


p {
	font-family: fontawesome;
	font-size: 1.25em;
}

h1 {
	font-family: opensans;
	font-size: 3em;	
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px black;
}

h2 {
	font-family: opensans;
	font-size: 2em;
	text-align: center;
}

h3 {
	font-family: opensans;
	font-size: 1.5em;
}

img {
	width: 100%;
}

a {
	font-family: fontawesome;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
}

/* Блок для выравнивания содержимого */
.content {
	width: 85%;
	padding: auto;
	margin: auto;
}

/* Блок для выравнивания изображений */
.imgcontainer {
	width: 48%;
	border: 0;
	padding: 1%;
	margin: 0;
	float: right;
}

/* Блок для выравнивания контактных данных */
.contactcontainer {	
	width: 20em;
	padding: 10pt;
	margin-top: 0%;
	float: right;
	background: white;
	opacity: 0.7;	
}

.contactcontainer p {	
	font-weight: bold;
	margin: 5pt;
}

.anchor:before {
	display: block;
	content: "";
	height: 3.5em;
	margin: -3.5em 0 0;
}

/* Строка меню */
.header {
	position: fixed;
	height: 3.5em;
	width: 100%;
	background: #F05E23;
	padding: 0;
	margin: 0;
	z-index: 999;
}

.header ul {
	text-align: left;
	font-size: 1.5em;
	padding: 0;
	padding-right: 0;
	padding-top: 0.5em;
	height: 100%;
	margin: 0;
}

.header li {
	list-style: none;
	display: inline;
	height: 100%;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.header li:hover {
	background: #001E3D;
}

.header img {
	float: left;
	height: 100%;
	width: 10vh;
	padding: 0 5% 0 15%;
	margin: 0;
}

.phone {
	float:right;
}

/* Основная панель */
.mainpage {
	height: 92vh;
	min-height: 500px;
	background: url(img/1.jpg);
	padding-top: 8.5em;
	margin-top: 0pt;
}

/* Изображения */
.images {
	min-height: 50vh;
	padding: 15pt 0;	
	background: #EAEAEA;
}	

/* Производство */
.production {
	min-height: 50vh;
	padding-top: 0pt;
	margin-top: 0pt;	
}

.production li {
	list-style-image: url(img/marker.png);	
	font-size: 1.5em;
	padding-bottom: 5pt;
}

.production img {	
	padding: 1%;
	margin: 0;
}

.production h1 {	
	
}

/* Контактные данные */
.contacts {
	height: 500px;
	padding-top: 10pt;
	padding-bottom: 5pt;
	background: #001E3D;
	color: white;
}


.owl-wrapper-outer {
	margin: 0;
	padding: 0;
	/*border: 1px solid #777;*/
	border-radius: 5px;
	overflow: hidden;	
}
/* 1 квадратик карусели */
.carousel-element {
	margin: 0;
	padding: 0;
	/*border-right: 1px solid #777; */
}
/* Блок с точками */
.owl-pagination {
	text-align: center;
}
/* 1 Точка */
.owl-page {
	width: 10px;
	height: 10px;
	border: 1px solid #F05E23;
	display: inline-block;
	background: white;
	margin: 10px;
	border-radius: 5px;
}
/* Активная точка */
.owl-page.active {
	background: #F05E23;
}